.page404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.img404 {
    width: 350px;
}
.searchBox{
    width:auto;
}
.rowButton404{
    display:flex;
    padding-bottom:60px;
}